<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
   	  <!-- MYSQL -->
      <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name = "hibernate.connection.url">jdbc:mysql://localhost/rpg_omega</property>
      <property name = "hibernate.connection.username">root</property>
      <property name = "hibernate.connection.password">admin</property>
      
      
      <property name="hibernate.hbm2ddl.auto">validate</property>

	<!-- Entity Mapping -->
	<mapping class="rpg.factory.IdEntity"/>
	<mapping class="rpg.item.data.entity.ItemDatabaseEntity" />
   </session-factory>
</hibernate-configuration>